<% layout("/layouts/boilerplate")%>
    <div class="row mt-3">
        <div class="col-8 offset-2">
           <h3>Edit your Listing</h3>
            <form method="POST" action="/foodZest/<%= listing._id%>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
              <div class="mb-2">
                <label for="name" class="form-label">Restaurant Name</label>
                <input
                  name="listing[name]"
                  value="<%=listing.name%>"
                  type="text"
                  class="form-control"
                  required
                />
                <div class="valid-feedback">Looks good!</div>

              </div>
          
              <div class="mb-3">
                <label for="famousDish" class="form-label">FamousDish</label>
                <input
                  name="listing[famousDish]"
                  value="<%= listing.famousDish%>"
                  class="form-control"
                  type="text"
                  required
                />
                <div class="invalid-feedback">Please enter your famousDish.</div>

              </div>
              <div class="mb-3">
                <img src="<%= originalImageUrl%>"/>

              </div>
              <div class="mb-3">
                <label for="image" class="form-label">Upload New Image</label>
                <input
                  name="listing[image]"
               class="form-control"
                  type="file"
          
                />
                <div class="invalid-feedback">Please enter a valid link.</div>
              </div>
          
              <div class="row">
                <div class="mb-2 col-md-4">
                  <label for="rating" class="form-label">Restaurant Rating</label>
                  <input
                    name="listing[rating]"
                    value="<%-listing.rating%>"
                    class="form-control"
                    required
                  />
                  <div class="invalid-feedback">rating should be valid!.</div>
                </div>
                <div class="mb-2 col-lg-8">
                  <label for="location" class="form-label">Location</label>
                  <input
                    name="listing[location]"
                    value="<%=listing.location%>"
                    type="text"
                    class="form-control"
                    required
                  />
                  <div class="invalid-feedback">location should be valid!.</div>

                </div>
              </div>
          
              <div class="mb-2">
                <label for="country" class="form-label">Country</label>
                <input
                  name="listing[country]"
                  value="<%=listing.country%>"
                  type="text"
                  class="form-control"
                  required
                />
                <div class="invalid-feedback">country should be valid!.</div>

              </div>
             
              <button class="btn btn-dark edit-btn mt-3">Edit</button>
              <br /><br />
            </form>
        </div>
    </div>

